@import './colors.css';

html{
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
}

body {
  background: var(--background);
  color: var(--label-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bm {
  vertical-align: bottom;
  line-height: 20px;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.head {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin: 0 10px;
}

.bookmark {
  display: flex;
  justify-content: center;
}

.bookmarks {
  display: flex;
  flex-direction: column;
  border: var(--borders);
  border-radius: 3px;
  box-shadow: 0px 4px 5px #090909;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background:var(--card-background);
}

.logo {
  align-self: center;
  padding: 15px;
}

.icon {
  align-self: center;
  justify-content: center;
  margin: 15px;
}

#gSearch, #dSearch {
    display: block;
    width: 100%;
}

.input_box {
  border: none;
  outline: none;
  background: none;
  padding-right: 15px;
  padding-left: 15px;
  color: whitesmoke;
  font-size: 22px;
  border-radius: 0px 0px 0px 0px;
  height: 70px;
  text-align: center;
  width: 100%;
}

.button {
  background: none;
  border: none;
  transition-duration: 0.6s;
  padding-left: 11px;
  padding-right: 12px;
  height: 70px;
  opacity: 60%;
}

.engine {
  background: none;
  padding-left: 12px;
  padding-right: 11px;
  border: none;
  transition-duration: 0.6s;
  position: relative;
  opacity: 60%;
}

form {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.search_box {
  display: flex;
  background: var(--card-background);
  width: 600px;
  padding: 0px;
  margin-bottom: 40px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 4px 5px #090909;
  align-self: center;
  height: 70px;
}

.engine:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

.button:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

li {
  font-family: 'Helvetica';
  list-style-type: none;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 36px;
}

.bookmark_icon {
    width: 24px;
    margin: 0px 10px;
    padding-bottom: 3px;
}

a:link {
  font-family: 'Helvetica';
  text-decoration: none;
  color: var(--label-color);
  height: 24px;
  line-height: 24px;
  font-size: 18px;
}

a:visited {
  color: var(--label-color);
}

a:hover {
  color: #BD3CD3;
}

div.bookmarks.cod a:hover {
  color: #00CF35;
}

div.bookmarks.doc a:hover {
  color: #FF8A00;
}

div.bookmarks.ent a:hover {
  color: #FF492F;
}

div.bookmarks.mus a:hover {
  color: #00B8FF;
}

div.bookmarks.art a:hover {
  color: #FF62CE;
}
