/*css part of the prismatic night theme. visit https://github.com/dbuxy218/Prismatic-Night*/
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#navigator-toolbox::after {
  display: none !important;
  border-bottom: 0px !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
}

#nav-bar-customization-target {
	background-color: #050d12 !important;
}

#navigator-toolbox{ 
  margin-top: 0px;
  padding-top: 0px !important; 
  border: none !important;
}

#navigator-toolbox { --tabs-border-color: transparent !important; }

#context-sep-properties {
    display: none !important;
}

.toolbarbutton-1 {
    fill: #A3AFC1 !important;
    background-color: #050d12 !important;
}

  #urlbar-input-container{
    border: none !important;
 }

 toolbaritem {
    border: none !important;
    padding: none !important;
    border-image: none !important;
    margin-inline: none !important;
    border-inline: none !important;
    margin-inline-start: 0px !important;
    padding-inline-start: 0px !important;
 }

#urlbar[open] > #urlbar-background{
  background: #050d12 !important;
  border-color: transparent !important;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .32) !important;
}

#urlbar-background {
    background-color: #050d12 !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
